<!-- --------------------------------------------------------------------------------------- -->
<!-- tasks -->
<!-- --------------------------------------------------------------------------------------- -->
<div
  class="tab-content d-flex flex-column justify-content-center align-items-center gap-3 w-100"
>
  <div class="top-part d-flex justify-content-between align-items-center w-100">
    <div class="right">
      <p class="p-0 m-0 fw-bold fs-5">
        <i class="fa-solid fa-list-check me-1 fs-4" style="color: #00a63e"></i>
        Daily Tasks
      </p>
      <p class="text-muted m-0 p-0">Manage patient's Daily Routine</p>
    </div>
    <div class="left">
      <button data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
        <i class="fa-regular fa-square-plus me-1 fs-5"></i>Add Task
      </button>
    </div>
  </div>
  <div
    class="tasks-list w-100 d-flex flex-column justify-content-start align-items-center gap-2"
  >
    <div class="task done">
      <div class="text-muted">
        <p>Breakfast</p>
        <p>08:15 AM</p>
      </div>
      <div class="trash-can">
        <i class="fa-solid fa-trash-can fs-5 text-danger"></i>
      </div>
    </div>
    <div class="task">
      <div class="text-muted">
        <p>Morning Walk</p>
        <p>09:30 AM</p>
      </div>
      <div class="trash-can">
        <i class="fa-solid fa-trash-can fs-5 text-danger"></i>
      </div>
    </div>
  </div>
</div>
<!-- --------------------------------------------------------------------------------------- -->
<!-- add-task -->
<!-- --------------------------------------------------------------------------------------- -->
<div
  class="modal fade"
  id="exampleModalToggle"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
          Add New Task
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body overflow-y-scroll" style="max-height: 400px">
        <div class="form-container">
          <p>Task Details Form</p>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
