<!-- ---------------------------------------------------------------------------- -->
<!-- login section  -->
<!-- ---------------------------------------------------------------------------- -->
<section class="login-section">
  <div class="login-container">
    <h1>Login</h1>
    <div class="image w-25 h-25">
      <img src="./assets/images/Nesyan.png" alt="logo" class="w-100" />
    </div>
    <p class="welcome">Welcome Back</p>
    <p>Sign in to your Nesyan account</p>
    <div class="login-form w-100">
      <form
        class="d-flex flex-column justify-content-center align-items-center gap-2 w-100"
        [formGroup]="loginForm"
        (ngSubmit)="login()"
      >
        <div class="input-group d-flex flex-column w-100">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Your Email"
            formControlName="email"
            required
          />
        </div>
        <div class="input-group d-flex flex-column w-100">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Your Password"
            formControlName="password"
            required
          />
        </div>
        <div
          class="add-ons d-flex justify-content-between align-items-center w-100 mt-2"
        >
          <div class="add-ons-checkbox">
            <input
              type="checkbox"
              name="remember-me"
              id="remember-me"
              class="checkbox"
              role="button"
              (change)="onRemeberMeChange($event)"
            />
            <label role="button" for="remember-me" class="ps-1"
              >Remember me</label
            >
          </div>
          <a (click)="forgetPassword()" role="button">Forgot Password?</a>
        </div>

        <button type="submit">Login</button>
      </form>
    </div>
    <div class="register-link d-flex flex-column">
      <p class="mb-1">
        Don't have an account?
        <a routerLink="/auth/register" role="button"> Register Here</a>
      </p>
      <p>
        Don't verify your email?
        <a role="button" (click)="verifyEmail()"> Verify Email</a>
      </p>
    </div>
  </div>
</section>
