<!-- --------------------------------------------------------------------------------------- -->
<!-- family -->
<!-- --------------------------------------------------------------------------------------- -->
<div
  class="tab-content d-flex flex-column justify-content-center align-items-center gap-3 w-100"
>
  <div class="top-part d-flex justify-content-between align-items-center w-100">
    <div class="right">
      <p class="p-0 m-0 fw-bold fs-5">
        <i
          class="fa-solid fa-people-group me-1 fs-3"
          style="color: #f54900"
        ></i>
        Family Members
      </p>
      <p class="text-muted m-0 p-0">
        Manage Patient's family members with photos and audio notes.
      </p>
    </div>
    <div class="left">
      <button
        data-bs-target="#exampleModalToggle"
        data-bs-toggle="modal"
        (click)="changeToAdd()"
      >
        <i class="fa-regular fa-square-plus me-1 fs-5"></i>Add Family Member
      </button>
    </div>
  </div>
  <div
    class="family-list w-100 d-flex justify-content-start align-items-start gap-2 flex-wrap"
  >
    <div
      class="family-member d-flex justify-content-between align-items-center"
      *ngFor="let member of patientFamilyList; let i = index"
    >
      <div
        class="info d-flex justify-content-start align-items-center gap-2 flex-grow-1"
      >
        <div
          class="image rounded-circle overflow-hidden"
          style="width: 65px; height: 65px"
        >
          <img
            src="https://nesyan-api.runasp.net/{{ member.imageUrl }}"
            alt="member image"
            class="w-100"
            width="65px"
            height="65px"
          />
        </div>
        <div
          class="main-info d-flex flex-column justify-content-center align-items-start"
        >
          <span>{{ member.name }} - {{ member.relation }}</span>
          <span>{{ member.phoneNumber }}</span>
        </div>
      </div>
      <div class="trash-can" (click)="deleteFamilyMember(member.id)">
        <i class="fa-solid fa-trash-can fs-5 text-danger"></i>
      </div>
    </div>
  </div>
</div>
<!-- --------------------------------------------------------------------------------------- -->
<!-- add-family-member -->
<!-- --------------------------------------------------------------------------------------- -->
<div
  class="modal fade"
  id="exampleModalToggle"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-5"
          id="exampleModalToggleLabel"
          *ngIf="!onEdit"
        >
          Add New Family Member
        </h1>
        <h1
          class="modal-title fs-5"
          id="exampleModalToggleLabel"
          *ngIf="onEdit"
        >
          Edit Family Member
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body overflow-y-scroll" style="max-height: 400px">
        <form class="fw-bold" [formGroup]="memberForm">
          <div class="form-group mb-2">
            <label for="member-name" class="form-label">Member Name</label>
            <input
              type="text"
              class="form-control"
              id="member-name"
              formControlName="name"
              required
              placeholder="e.g.. Ahmed Mohammed"
            />
          </div>
          <div class="form-group mb-2">
            <label for="member-relation" class="form-label"
              >Member Relation</label
            >
            <input
              type="text"
              class="form-control"
              id="member-relation"
              formControlName="relation"
              required
              placeholder="e.g.. Son"
            />
          </div>
          <div class="form-group mb-2">
            <label for="member-number" class="form-label">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="member-number"
              formControlName="phoneNumber"
              required
              placeholder="Egyption Phone Number"
            />
          </div>
          <p>Upload Member Image</p>
          <div
            class="upload-area d-flex flex-column justify-content-center align-items-center w-100 my-2"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave()"
            (drop)="onDrop($event, 'image')"
            [class.dragover]="isDragOver"
          >
            <!-- No File Selected -->
            <div *ngIf="!memberImage" class="text-center">
              <i class="fa-solid fa-cloud-arrow-up fs-1 mb-2"></i>
              <p>Click to upload or drag and drop</p>
              <p class="m-0">JPG, PNG (MAX. 5MB)</p>
              <div class="form-group mt-4">
                <label for="userImage" class="btn btn-primary text-white">
                  Select File
                </label>
                <input
                  type="file"
                  id="userImage"
                  hidden
                  accept=".jpg,.jpeg,.png"
                  (change)="onFileSelect($event, 'image')"
                />
              </div>
            </div>
            <!-- File Selected -->
            <div *ngIf="memberImage" class="text-center">
              <i class="fa-solid fa-file fs-1 mb-2 text-success"></i>
              <p class="fw-bold">
                {{ memberImage.name }}
              </p>
              <p>
                {{ (memberImage.size / 1024 / 1024).toFixed(2) }}
                MB
              </p>
              <button
                type="button"
                class="btn btn-danger"
                (click)="removeFile('image', $event)"
              >
                Remove
              </button>
            </div>
          </div>
          <p>Upload Member Audio</p>
          <div
            class="upload-area d-flex flex-column justify-content-center align-items-center w-100 my-2"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave()"
            (drop)="onDrop($event, 'audio')"
            [class.dragover]="isDragOver"
          >
            <!-- No File Selected -->
            <div *ngIf="!memberaudio" class="text-center">
              <i class="fa-solid fa-cloud-arrow-up fs-1 mb-2"></i>
              <p>Click to upload or drag and drop</p>
              <p class="m-0">MP3 (MAX. 5MB)</p>
              <div class="form-group mt-4">
                <label for="useraudio" class="btn btn-primary text-white">
                  Select File
                </label>
                <input
                  type="file"
                  id="useraudio"
                  hidden
                  accept=".mp3"
                  (change)="onFileSelect($event, 'audio')"
                />
              </div>
            </div>
            <!-- File Selected -->
            <div *ngIf="memberaudio" class="text-center">
              <i class="fa-solid fa-file fs-1 mb-2 text-success"></i>
              <p class="fw-bold">
                {{ memberaudio.name }}
              </p>
              <p>
                {{ (memberaudio.size / 1024 / 1024).toFixed(2) }}
                MB
              </p>
              <button
                type="button"
                class="btn btn-danger"
                (click)="removeFile('audio', $event)"
              >
                Remove
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary"
          data-bs-dismiss="modal"
          aria-label="Close"
          *ngIf="!onEdit"
          (click)="completeAddMember()"
        >
          Add
        </button>
        <button
          class="btn btn-primary"
          data-bs-dismiss="modal"
          aria-label="Close"
          *ngIf="onEdit"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>
