<!-- --------------------------------------------------------------------------------------- -->
<!-- statistics -->
<!-- --------------------------------------------------------------------------------------- -->
<div class="d-flex justify-content-center align-items-start gap-3 w-100">
  <div class="tab-content w-50">
    <div class="top d-flex justify-content-start align-items-center gap-2">
      <i class="fa-solid fa-arrow-trend-up fs-4" style="color: #155dfc"></i>
      <span class="fw-bold fs-5">Activity Overview</span>
    </div>
    <div
      class="bar-graphs d-flex flex-column justify-content-center align-items-center gap-2 w-100"
    >
      <div
        class="bar-graph d-flex flex-column justify-content-center align-items-center gap-1 w-100"
      >
        <div class="data d-flex justify-content-between w-100 fw-bold">
          <span>Daily Tasks Completed</span>
          <span>8/10</span>
        </div>
        <div class="bar">
          <div class="bar-value" style="width: 80%"></div>
        </div>
      </div>
      <div
        class="bar-graph d-flex flex-column justify-content-center align-items-center gap-1 w-100"
      >
        <div class="data d-flex justify-content-between w-100 fw-bold">
          <span>Medication Taken</span>
          <span>100 %</span>
        </div>
        <div class="bar">
          <div class="bar-value" style="width: 100%"></div>
        </div>
      </div>
    </div>
    <div class="games d-flex justify-content-between w-100">
      <span>Games Played</span>
      <span class="value">5 - This Week</span>
    </div>
  </div>
  <div class="tab-content w-50">
    <div class="top d-flex justify-content-start align-items-center gap-2">
      <i class="fa-solid fa-heart-pulse fs-4" style="color: #155dfc"></i>
      <span class="fw-bold fs-5">Vital Signs</span>
    </div>
    <div
      class="info d-flex flex-column justify-content-center align-items-start gap-2 w-100 fw-bold"
    >
      <div class="info-item d-flex justify-content-between w-100 border-b">
        <span>Blood Pressure</span>
        <span class="dangerous">Dangerous </span>
      </div>
      <div class="info-item d-flex justify-content-between w-100 border-b">
        <span>Heart Rate</span>
        <span class="normal">72bpm</span>
      </div>
      <div class="info-item d-flex justify-content-between w-100">
        <span>Sleep Quality</span>
        <span class="good">Good</span>
      </div>
    </div>
  </div>
</div>
