<!-- --------------------------------------------------------------------------------------- -->
<!-- spare nav -->
<!-- --------------------------------------------------------------------------------------- -->
<nav class="container-fluid d-flex justify-content-between align-items-center">
  <div class="logo d-flex justify-content-start align-items-center">
    <a routerLink="/nesyan" class="logo-image">
      <img src="./assets/images/Nesyan.png" alt="logo" class="w-100" />
    </a>
    <a routerLink="/nesyan" class="logo-text ps-2">Nesyan</a>
  </div>
  <a routerLink="/auth" class="d-flex align-content-center btn btn-primary"
    >Login</a
  >
</nav>
