<!-- ---------------------------------------------------------------------------- -->
<!-- reset-password section  -->
<!-- ---------------------------------------------------------------------------- -->
<section class="reset-password-section">
  <div class="reset-password-container">
    <h3>Reset Your Password</h3>
    <div class="image w-25 h-25">
      <img src="./assets/images/Nesyan.png" alt="logo" class="w-100" />
    </div>
    <p>Check Your Registered Email</p>
    <div class="reset-password-form w-100">
      <form
        class="d-flex flex-column justify-content-center align-items-center gap-2 w-100"
        [formGroup]="resetPasswordForm"
      >
        <div class="input-group d-flex flex-column w-100">
          <label for="code">Code</label>
          <input
            formControlName="code"
            type="text"
            id="code"
            name="code"
            placeholder="Your code"
            required
          />
        </div>
        <div class="input-group d-flex flex-column w-100">
          <label for="newPassword">New Password</label>
          <input
            formControlName="newPassword"
            type="password"
            id="newPassword"
            name="newPassword"
            placeholder="Enter your new password"
            required
          />
        </div>
        <div
          class="w-100 d-flex justify-content-start align-items-center m-0 p-0"
        >
          <p
            class="resend"
            role="button"
            (click)="resendCode()"
            [class.disabled]="resendDisabled"
            [attr.aria-disabled]="resendDisabled"
          >
            <span *ngIf="!resendDisabled">Resend Code</span>
            <span *ngIf="resendDisabled"
              >Resend Code ({{ getCountdownText() }})</span
            >
          </p>
        </div>
        <div
          class="navigate buttons w-100 d-flex justify-content-start align-items-center"
        >
          <button class="back" routerLink="/auth/login">Back</button>
          <button class="reset" (click)="resetPassword()">Reset</button>
        </div>
      </form>
    </div>
  </div>
</section>
